.sectionDetail {
    padding-top: 30px;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}

.ulDetail {
    list-style: none;
    margin-top: 15px;
}

.boxDetail {
    color: rgb(255, 255, 255);
}

.detailTitle {
    font-size: 25px;
    margin-bottom: 40px;
}

.detailSubTitle {
    font-size: 20px;
    margin-bottom: 25px;
}

.description,
.detail,
.tips {
    margin-bottom: 60px;
}

.urlLink {
    text-decoration: underline;
    transition: color 0.2s ease;
}

.urlLink:hover {
    color: rgb(252, 114, 23);
}

.backButton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.backButton:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(252, 114, 23);
}