.badgeCard {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.unlocked {
  opacity: 1;
}

.locked {
  opacity: 0.2;
}

.icon {
  font-size: 25px;
}

.content {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 16px;
  margin-bottom: 5px;
}

.description {
  font-size: 13px;
}