.goalsBox {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

/* Pallino cliccabile */
.statusDot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Stato completato */
.completed {
  background-color: #4ade80; 
  box-shadow: 0 0 4px #4ade80;
}

/* Stato non completato */
.incomplete {
  background-color: #d1d5db; 
  box-shadow: 0 0 2px #999;
}

/* Titolo del goal */
.goalTitle {
  font-size: 19px;
  transition: color 0.2s ease;
}

.goalTitle:hover {
  color: rgb(252, 114, 23);
}

/* Descrizione del goal */
.goalDescription {
  font-size: 0.875rem;
  color: #555;
}