.homeBox {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.homeTitle {
  font-size: 70px;
  color: white;
}

.homeP {
  font-size: 25px;
  color: white;
}