.sectionTaskBadge {
    padding-top: 35px;
    padding-bottom: 35px;
}

.titleDashboard {
    font-size: 30px;
    margin-bottom: 100px;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}

.flexGoalsBoard {
    display: flex;
    align-items: baseline;
    gap: 50px;
}

.boxGoalsBoard {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.mgBot30 {
    margin-bottom: 30px;
}