.sectionTaskBadge {
    padding-top: 35px;
}

.titleDashboard {
    font-size: 30px;
    margin-bottom: 100px;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}

.flexGoalsBoard {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 50px;
}

.boxGoalsBoard {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 25px;
}

.mgBot30 {
    margin-bottom: 30px;
}

.adviceOnTask {
    margin-top: 40px;
    font-size: 13px;
}

.loadingBox {
    display: flex;
    justify-content: center;
    padding-bottom: 350px;
}

.loading {
    font-size: 25px;
    color: rgb(255, 255, 255);
}